@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --Orange: hsl(26, 100%, 55%);
    --Orange-transparent: hsl(26, 100%, 90%);
    --Pale-orange:hsl(25, 100%, 94%);
    --Very-dark-blue:hsl(220, 13%, 13%);
    --Dark-grayish-blue:hsl(219, 9%, 45%);
    --Grayish-blue:hsl(220, 14%, 75%);
    --Light-grayish-blue:hsl(223, 64%, 98%);
    --White-transparent:hsl(0, 0%, 100%);
    --Black-transparent:hsl(0, 0%, 0%);
}

#root {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  
}

li {
  list-style: none;
}