@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Orange: hsl(26, 100%, 55%);
  --Orange-transparent: hsl(26, 100%, 90%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White-transparent: hsl(0, 0%, 100%);
  --Black-transparent: hsl(0, 0%, 0%);
}

#root {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

nav .nav-items ul li {
  position: relative;
}

nav .nav-items ul li::before {
  content: "";
  position: absolute;
  bottom: -38px; 
  left: 0;
  height: 5px;
  background-color: var(--Orange);
  transform: scaleX(0);
  transition: transform 0.3s ease 0s;
  z-index: -10;
}

nav .nav-items ul li:hover::before {
  width: 100%;
  transform: scaleX(1)
}
